<section class="course">
    <div class="container">
        <h1 class="text-center">All Courses</h1>
        <div class="row mt-5" >
        <div *ngIf = "length">
        <p>No Courses Avaliable</p>
        </div>
            <div class="col-lg-3 mb-5" *ngFor = "let cs of cos">
                <div class="box shadow-sm">
                    <img src="{{cs.courseImage}} " width="100%">
                    <h3 class="mt-2">{{cs.courseName}}</h3>
                    <p class="mt-2">{{cs.courseDesc}}</p>
                    <p class="mt-2">{{cs.coursePrice}}</p>
                    <button class="btn btn-primary btn-sm mt-2">Start Now</button>
                </div>
            </div>
        </div>
    </div>
</section>